body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f2f2f2;
}

.movie-card {
  background-color: #fff;
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
}

.movie-director {
  padding: 4px 0;
  font-size: 0.8rem;
}

.saved-list {
  background-color: #fff;
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.saved-list h3 {
  margin-right: 10px;
}

.saved-movie {
  margin: 0 10px;
}
.saved-active {
  color: blue;
  border: 1px solid grey;
  padding: 5px;
}
.save-wrapper {
  position: relative;
  width: 75%;
  margin: 1rem auto;
}
.save-button {
  position: absolute;
  top: 25px;
  right: 25px;
  border: 1px solid grey;
  padding: 5px 10px;
  background-color: lightseagreen;
}
.save-button:hover {
  background-color: green;
  color: white;
}

.home-button {
  padding: 5px 10px;
  background-color: lightskyblue;
}

.movie-warning {
  color: red;
  text-align: center;
}

.form-div form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-div form input {
  width: 50%;
  height: 3vh;
  font-size: 1.4rem;
}

.form-div form label {
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.edit-button {
  margin: 5px;
  order: 1px solid grey;
  padding: 5px 15px;
  background-color: #5582C6;
  color: white;
  width: 8%;
  text-align: center;
  cursor: pointer;
}

.edit-button:hover {
  background: lightskyblue;
  cursor: pointer;
}

.delete-button {
  margin: 5px;
  order: 1px solid grey;
  padding: 5px 15px;
  background-color: #FA5757;
  color: white;
  width: 8%;
  text-align: center;
  cursor: pointer;
}

.delete-button:hover {
  background: #F39295;
  cursor: pointer;
}

.buttons-div {
  display: flex;
  justify-content: center;
}

.add-button {
  background: black;
  color: white;
  text-align: center;
  padding: 0.5rem;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.add-button:hover {
  background: #4D4D4D;
  cursor: pointer;
}

.form-title {
  text-align: center;
}

.edit-btn {
  margin: 20px;
  order: 1px solid grey;
  padding: 5px 15px;
  background-color: #5582C6;
  color: white;
  width: 8%;
  text-align: center;
  cursor: pointer;
}

.edit-btn:hover {
  background: lightskyblue;
  cursor: pointer;
}